[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-jwt-auth = "*"
pydantic = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
